@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
body {
  background-color: #c9c9c9;
  font-size: 25px;
  font-family: 'Inria Sans', sans-serif;
}

.div-login {
  background-color: #9da9a0;
  display: flex;
  justify-content: center;
  gap: 20vw;
  padding-bottom: 100px;
}

input {
  border: 0;
  outline: 0;
  font-size: 25px;
  border-radius: 10px;
}
input:focus {
  outline: none !important;
}

.div-login-inside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

.div-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.books-column {
  width: 600px;
}

.title-book-section {
  text-align: center;
  font-weight: bold;
  background-color: #9da9a0;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}

.book-row {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
}

li {
  list-style-type: none;
}

.list-genres {
  background-color: white;
  line-height: 2;
  padding: 50px;
  border-radius: 20px;
}

.indisponivel {
  color: #707070
}

.alugar {
  font-weight: 700;
  cursor: pointer;
  color: #654C4F;
}